# environment variables
.env

# Python cache
__pycache__/
*.pyc

# virtual environment
venv/
.env/
.venv/
.venv
# database (if using sqlite)
db.sqlite3

# Django static files (optional)
staticfiles/

# IDE files
.vscode/
.idea/  

test.py